.grid {
    display: grid;
}

.flex {
    display: flex;
}


.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-auto {
    flex: auto;
}

.flex-1 {
    flex: 1;
}

.flex-1-5 {
    flex: 1.5;
}

.flex-2 {
    flex: 2;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


// GAP
.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px;
}

.gap-6 {
    gap: 24px;
}

.gap-7 {
    gap: 28px;
}

.gap-8 {
    gap: 32px;
}

.gap-9 {
    gap: 36px;
}

.gap-10 {
    gap: 40px;
}

// Layout
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @media (min-width: $xl) {
        max-width: 1140px;
    }

    @media (min-width: $xxl) {
        max-width: 1340px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

}