// Font Weight
.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

// Font Size
.font-xs {
    font-size: 10px;
    line-height: 14px;
}

.font-sm {
    font-size: 12px;
    line-height: 16px;
}

.font-md {
    font-size: 14px;
    line-height: 20px;
}

.font-lg {
    font-size: 16px;
    line-height: 22px;
}

.font-xl {
    font-size: 18px;
    line-height: 26px;
}

.font-xxl {
    font-size: 20px;
    line-height: 28px;
}

// Text Transform
.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

// Text Colors
.color-light {
    color: $color-light;
}

.color-dark {
    color: $color-dark;
}

.color-dark-blue {
    color: $color-dark-blue;
}

.color-blue {
    color: $color-blue;
}

.color-blue-light {
    color: $color-blue-light;
}

.color-blue-faded {
    color: $color-blue-faded;
}

.color-gray {
    color: $color-gray;
}

.color-gray-light {
    color: $color-gray-light;
}

.color-purple {
    color: $color-purple;
}

.color-purple-light {
    color: $color-purple-light;
}

.color-sky-light {
    color: $color-sky-light;
}


// SECTION TITLE

.section-title {
    margin-bottom: 20px;
}