.folder-card-list {

    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @media (min-width: $lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }


    @media (min-width: $xl) {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .card {
        // min-width: 193px;
        padding: 21px;
        // height: 193px;

        .more-btn {
            right: 22px;
            top: 25px;
        }
    }

    .card.design {
        background: #F6F5FF;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(158, 160, 249, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(158, 160, 249, 0.03), 0px 20px 13px 0px rgba(158, 160, 249, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(158, 160, 249, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(158, 160, 249, 0.05), 0px 100px 80px 0px rgba(158, 160, 249, 0.07);
    }

    .card.documents {
        background: #F5FFFC;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(103, 207, 236, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(103, 207, 236, 0.03), 0px 20px 13px 0px rgba(103, 207, 236, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(103, 207, 236, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(103, 207, 236, 0.05), 0px 100px 80px 0px rgba(103, 207, 236, 0.07);
    }

    .card.music {
        background: #FFF9F0;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(253, 131, 66, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(253, 131, 66, 0.02), 0px 20px 13px 0px rgba(253, 131, 66, 0.02), 0px 38.51852035522461px 25.481481552124023px 0px rgba(253, 131, 66, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(253, 131, 66, 0.03), 0px 100px 80px 0px rgba(253, 131, 66, 0.04);
    }

    .card.images {
        background: #FFF5F5;
        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(255, 125, 125, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(255, 125, 125, 0.03), 0px 20px 13px 0px rgba(255, 125, 125, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(255, 125, 125, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(255, 125, 125, 0.05), 0px 100px 80px 0px rgba(255, 125, 125, 0.07);
    }
}


.quick-acess-card-list {

    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @media (min-width: $lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }


    @media (min-width: $xl) {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    @media (min-width: $xxl) {
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
    }

    .card {

        min-width: 226px;
        overflow: hidden;

        &__top {
            height: 117px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;


        }

        &__bottom {
            background-color: $color-gray-faded;
            margin: auto;
            padding: 17px 25px;

            img {
                width: 22px;
                height: 22px;
            }

            p {
                white-space: nowrap;
            }
        }

    }
}


.file-manager-card-list {

    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $lg) {
        gap: 20px;
    }


    @media (min-width: $xl) {
        gap: 30px;
    }

    .card {
        min-width: 130px;
        border-radius: 8.994px;
        background: #EBEDFB;
        padding: 15px;
    }
}