.sidebar-right {
    width: 396px;
    background: #FAFBFD;
    box-shadow: -0.6252529621124268px 0.23130746185779572px 6.49305534362793px 0px rgba(199, 208, 255, 0.02), -2.751113176345825px 1.0177528858184814px 13.44444465637207px 0px rgba(199, 208, 255, 0.04);

    right: 0;
    top: 0;
    bottom: 0;

    &__contents {
        // 
    }
}