.usage-stats {
    .chart-container {

        .vertical-texts {
            left: 0;
            top: 10px;
        }

        .horizontal-texts {
            bottom: 0;
            right: 30px;
            gap: 18px;


            @media (min-width: $sm) {
                right: 35px;
                gap: 28px;
            }
        }

        .chart {
            padding: 30px;

            .bar {
                width: 15px;
                position: relative;

                @media (min-width: $sm) {
                    width: 20px;
                }

                &::after {
                    content: '';
                    width: 7px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-light;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 2;
                    opacity: 0;

                    @media (min-width: $sm) {
                        opacity: 1;
                    }
                }
            }

            .bar-purple {
                background-color: $color-purple;
            }

            .bar-aquamrine {
                background-color: $color-aquamarine;
            }
        }
    }
}