//  =========== VARIABLES ===========

// COLORS
$color-light: #ffffff;
$color-dark: #000000;


$color-gray: #757575;
$color-gray-light: #dee1e6;
$color-gray-faded: #f5f5f5;

$color-blue: #25396f;
$color-blue-light: #7987A5;
$color-blue-faded: #7C8DB5;

$color-sky-light :#718EBF;

$color-purple: #51459e;
$color-purple-light: #505887;
$color-purple-faded: #ebedfb;

$color-aquamarine: #84e8f4;
$color-tomato-light: #FF6E91;


// FONTS
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-poppins: 'Poppins', sans-serif;

// BREAKPOINTS
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;