.home {
    // .navbar  {

    // }

    .main-content {

        .sidebar-left,
        .page-content,
        .sidebar-right {
            @media (max-width: $lg) {
                padding-top: 99px;
            }


            @media (min-width: $lg) {
                padding-top: 99px;
            }

            &__contents {
                padding: 33px 20px;


                @media (min-width: $lg) {
                    padding: 33px 40px;
                }

            }
        }

        .sidebar-left {
            @media (max-width: $lg) {
                width: 251px;
            }


            @media (min-width: $lg) {
                width: 270px;
            }
        }

        .page-content {
            @media (max-width: $lg) {
                margin-left: 250px;
            }


            @media (min-width: $lg) {
                margin-left: 270px;
            }

            &__contents {

                gap: 50px;
                
                .recently-added-and-file-manager {

                    gap: 50px;

                    @media (min-width: $md) {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    @media (min-width: $lg) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                
                    .item {
                        img {
                            width: 44px;
                            height: 44px;
                        }
                    }
                }
            }

        }

        .sidebar-right {
            width: 396px;
            background: $color-purple;
            right: 0;
            top: 0;
        }
    }


    // .footer {

    // }
}