// ANIMATION
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



// HOME 
.home {
    
    .offcanvas-opener-btn {
        background-color: $color-purple;
        width: 45px;
        height: 45px;
        // top: 0;
        bottom: 20px;
        right: 20px;
        margin: auto;


        box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(158, 160, 249, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(158, 160, 249, 0.03), 0px 20px 13px 0px rgba(158, 160, 249, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(158, 160, 249, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(158, 160, 249, 0.05), 0px 100px 80px 0px rgba(158, 160, 249, 0.07);


        img {
            animation: spin 3000ms infinite linear;
            width: 20px;
            height: 20px;
        }
    }

    .main-content {

        .sidebar-left,
        .page-content,
        .sidebar-right {
            @media (max-width: $lg) {
                padding-top: 99px;
            }


            @media (min-width: $lg) {
                padding-top: 99px;
            }

            &__contents {
                padding: 33px 20px;


                @media (min-width: $lg) {
                    padding: 33px 40px;
                }

            }
        }

        .sidebar-left {


            @media (max-width: $lg) {
                width: 251px;
            }


            @media (min-width: $lg) {
                width: 270px;
            }
        }


        .page-content {
            margin-left: 250px;

            @media (max-width: $md) {
                margin-left: 0;
            }

            @media (min-width: $lg) {
                margin-left: 270px;
            }


            &__contents {

                gap: 50px;

                .recently-added-and-file-manager {

                    gap: 50px;

                    @media (min-width: $md) {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    @media (min-width: $lg) {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    .item {
                        img {
                            width: 44px;
                            height: 44px;
                        }
                    }

                    .file-manager {
                        &__body {
                            .open-file-manager-btn {
                                padding: 13px;
                                background-color: $color-gray-light;
                                transition: all 0.2s;

                                &:hover {
                                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                                }
                            }
                        }

                    }

                }
            }

        }

        .sidebar-right {
            &__contents {
                padding-left: 30px;
                padding-right: 30px;

                @media (max-width: $sm) {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .usage-stats {
                    .left-offcanvas-close-btn {
                        
                        width: 20px;
                        height: 20px;
                        margin-top: -20px;
                        background: $color-purple;
                        
                    }
                }

                .shared-folder-items {
                    .item {
                        .img-container {
                            background-color: $color-gray-light;
                            width: 34px;
                            height: 34px;

                            @media (max-width: $sm) {

                                img {
                                    width: 20px;
                                    height: 20px;

                                }
                            }

                            @media (min-width: $sm) {
                                width: 44px;
                                height: 44px;

                            }
                        }
                    }

                }
            }
        }
    }


    // .footer {

    // }
}