.home {
    // .navbar  {

    // }

    .main-content {


        
        // .sidebar-left {

        // }

        // .page-content {

        // }

        .sidebar-right {
            width: 396px;
            background: $color-purple;
            right: 0;
            top: 0;
        }
    }


    // .footer {

    // }
}