//  =========== VARIABLES ===========

// COLORS
$color-ultra-dark: #101010;
$color-dark: #1d1d1d;
$color-dark-fade: #272727;
$color-dark-hover: #333333;
$color-light: #ffffff;
$color-oranage: #ff5400;
$color-red: #ff0003;
$color-red-hover: #d93d3f;
$color-light-gray: #b7b7b7;
$color-medium-gray: #909090;
$color-dark-gray: #6d6d6d;

// FONTS
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-lato: 'Lato', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-quantico: 'Quantico', sans-serif;

// BREAKPOINTS
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;