/* ===== BACKGROUND CSS ===== */

.bg-dark {
    background-color: $color-dark;
  }
  
  .bg-ultra-dark {
    background-color: $color-ultra-dark;
  }
  
  /* ===== MARGIN || PADDING CSS ===== */
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ===== DISPLAY ===== */
  .d-none {
    display: none;
  }
  
  .d-block {
    display: block;
  }
  
  .grid {
    display: grid;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-col-reverse {
    flex-direction: column-reverse;
  }
  
  .items-start {
    align-items: flex-start;
  }
  
  .items-center {
    align-items: center;
  }
  
  .items-end {
    align-items: flex-end;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .gap-1 {
    gap: 5px;
  }
  
  .gap-2 {
    gap: 8px;
  }
  
  .gap-3 {
    gap: 12px;
  }
  
  .gap-4 {
    gap: 16px;
  }
  
  .gap-5 {
    gap: 20px;
  }
  
  .gap-6 {
    gap: 24px;
  }
  
  .gap-7 {
    gap: 28px;
  }
  
  .gap-8 {
    gap: 32px;
  }
  
  .gap-9 {
    gap: 36px;
  }
  
  .gap-10 {
    gap: 40px;
  }
  
  // Z-INDEX
  .z-0 {
    z-index: 0;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .z-20 {
    z-index: 20;
  }
  
  .z-30 {
    z-index: 30;
  }
  
  .z-40 {
    z-index: 40;
  }
  
  .z-50 {
    z-index: 50;
  }
  
  .z-max {
    z-index: 999999;
  }
  
  .z-auto {
    z-index: auto;
  }
  
  
  /* ===== POSITION || WIDTH || HEIGHT ===== */
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .fixed {
    position: fixed;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-screen {
    width: 100vw;
  }
  
  .w-auto {
    width: auto;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .h-50 {
    height: 50%;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .h-auto {
    height: auto;
  }
  
  /* ===== LAYOUT CSS ===== */
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  
    @media (min-width: $xl) {
      max-width: 1140px;
    }
  
    @media (min-width: $xxl) {
      max-width: 1340px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  
  }
  
  // .section {}